<h3>Comanda</h3>
<p>Total : {{calculaTotal()}}</p>
<div class="productos">
    <div class="producto"  *ngFor="let producto of arrProductos; let indice= index;" (click)="onClickBorrar(indice)">
        <p1>{{producto.nombre}} x {{producto.cantidad}}- {{producto.precio * producto.cantidad}}</p1>
    </div>
</div>
