h3{
    text-transform: uppercase;
    background-color: rgba(74, 33, 189, 0.795);
    padding: 10px;
    border: 1px solid rgb(49, 228, 26);
}

.productos{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 5px;
    border: 1px sol rgb(24, 26, 24);
}
p{
    text-transform: uppercase;
    color: lavender;
   background-color: rgba(235, 18, 65, 0.795);
   padding: 10px;
   border: 1px solid rgb(49, 228, 26);
}