h1{
    text-align: center;
}

.container{
    width: 80%;
    margin:30px auto 0 auto ;
    display: flex;
}
.izquierda{
    width: 65%;
    padding: 10px;


}
.derecha{

    width: 35%;
    padding: 10px;

}