
<h1>Caja Registradora Ejemplo Angular</h1>
<div class="container">

  <div class="izquierda">
    <app-lista-productos titulo="Comida" [productos]="arrComida" (productoSeleccionado)="onProductoSeleccionado($event)"></app-lista-productos>
    <app-lista-productos titulo="Bebidas" [productos]="arrBebida" (productoSeleccionado)="onProductoSeleccionado($event)"></app-lista-productos>

  </div>
  <div class="derecha">
    <app-comanda [arrProductos]="arrProductSeleccionado"></app-comanda>
  </div>
</div>