h3{
    text-transform: uppercase;
    background-color: rgb(104, 86, 185);
    padding: 10px;
}
p{
    color: honeydew;
    text-align: center;
    background-color: rgb(16, 4, 85);
    padding: 10px;
    
}
p4{
    color: honeydew;
    margin: auto;
    background-color: rgb(16, 4, 85);
    padding: 4px;
    
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.producto{
    width: 22%;
    margin: 5px;
    border: 1px solid gray;
    cursor: pointer;
}
.producto img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.producto p{
    margin: 5px;
    text-align: center;
}