<h3>{{titulo}}</h3>
<div class="productos">
    <div class="producto" *ngFor="let producto of productos" (click)="onClick(producto)">
        <img [src]="producto.imgURL">
        <p>{{producto.nombre}}</p>
        <p>$ {{producto.precio}}</p>
    </div>
</div>